<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CMSNullReturnError</key>
	<dict>
		<key>title</key>
		<string>Error</string>
		<key>message</key>
		<string>No network connectivity or server down</string>
	</dict>
	<key>NetworkDownError</key>
	<dict>
		<key>title</key>
		<string>No network connection</string>
		<key>message</key>
		<string>You must be connected to the internet.</string>
	</dict>
</dict>
</plist>
